.find-inspiration {
    background: #fff;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 90px;
    padding-top: 70px;
}

/* Search Bar */
.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 330px;
    background: #f8f9fa;
    padding: 8px;
    border-radius: 10px;
    margin-bottom: 15px;
    position: relative;
    gap: 5px;
}

.search-icon {
    position: absolute;
    left: 12px;
    color: #777;
    font-size: 14px;
}

.search-bar input {
    padding-left: 30px;
}

.category-filter-container {
    margin-top: -5px;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px 0;
    display: flex;
    justify-content: flex-start;
    scroll-behavior: smooth;
}

.category-filter {
    display: inline-flex;
    gap: 0px;
    padding: 0 10px;
}

.category-filter-container::-webkit-scrollbar {
    display: none;
}

.category-filter-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.category-button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: bold;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.category-button.active {
    background: black !important;
    color: white !important;
    border: none;
}

.inspiration-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100%;
    max-width: 360px;
    margin-bottom: 20px;
}

.inspiration-card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    position: relative;
}

.inspiration-card:hover {
    transform: scale(1.05);
}

.inspiration-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.inspiration-details {
    padding: 8px;
}

.inspiration-details p {
    font-size: 12px;
    color: #777;
    margin-bottom: 5px;
}

.modal-image-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    position: relative;
}

.modal-image {
    max-height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.custom-modal-body p {
    margin-bottom: 0px;
}

.saved-indicator {
    color: green;
    font-size: 18px;
    position: absolute;
    top: 8px;
    right: 8px;
}
