.mycloset {
    text-align: center;
    padding: 10px;
    background-color: #f8f9fa;
    min-height: 100%;
}

.mycloset-content {
    /* padding-top: 50px; */
}

.category-filter-container {
    margin-top: 50px;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px 0;
    display: flex;
    justify-content: flex-start;
    scroll-behavior: smooth;
}

.category-filter {
    display: inline-flex;
    gap: 10px;
    padding: 0 0px;
}

.category-filter-container::-webkit-scrollbar {
    display: none;
}

.category-filter-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.category-button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
}

.clothing-item {
    width: 100%;
    height: 140px; 
    display: flex;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.clothing-item:hover {
    transform: scale(1.03);
}

.clothing-image-wrapper {
    width: 100%;
    height: 140px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 10px;
}

.clothing-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.modal-image-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.modal-image {
    max-height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.modal-details {
    align-items: left;
}

.no-items {
    text-align: center;
    color: gray;
    margin-top: 20px;
}
